

.vente {
    position: relative;
}

.vente img {
    max-width: 100%;
    height: auto;
}


.jaune {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: orange;
    padding: 20px 50px;
    width: 400px;

   
} 
.style_8{
    color: white;
}
